<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="breakingbad" src="{{ "/assets/img//BreakingBad.png" />
  </div>" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Breaking Bad </li>
    </ul>
    <p>This project features profiles of the characters from the hit TV series Breaking Bad. Made with API from breaking bad</p>
    <a class="project-link" target="_blank" href="https://breakingbadapi254.netlify.app/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="weatherapp" src="{{ "/assets/img/Weather.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Weather App </li>
    </ul>
    <p> This project features a Weather application that displays the weather conditions of any city in the world with the added feature of displaying whether its day or night </p>
    <a class="project-link" target="_blank" href="https://weatherapp254.netlify.app/">Check it out</a>
  </div>
</div>
